* {
  text-decoration: none;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  height: 100%;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 20px 10px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0px;
  padding: 0;
  margin: 0px 0 0;
}

nav li {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbtn-img {
  scale: 0.8;
  padding: 0;
  margin: 0;
  gap: 0;
}

.rotate1 {
  transform: rotate(-5deg);
}

.rotate2 {
  transform: rotate(-2deg);
}

.rotate3 {
  transform: rotate(2deg);
}

.logopadding {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 11vw 1fr;
  min-height: 100vh;
}

main,
footer {
  width: 100%;
}

.logo {
  font-family: var(--logo-font);
  font-size: 46px;
  color: #000;
  text-align: center;
}

h1 {
  font-family: var(--font-h1);
  font-size: 113px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: var(--font-h2);
  font-size: 46px;
}

h3 {
  font-family: var(--logo-font);
  font-size: 46px;
}

p {
  font-family: var(--font-p);
  font-size: 22px;
}

ul {
  list-style-type: none;
}

li {
  font-family: var(--font-p);
  font-size: 22px;
}

.navbtn {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 0;
}

.navbtn img {
  display: block;
  width: 100%;
  height: auto;
}

.navtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  margin: 0;
  /*  font-size: 48px; */
  font-size: clamp(10px, 1.5vw, 16px);
  text-align: center;
}

.cta {
  font-family: var(--nav-font);
  font-size: 22px;
  color: #000;
  background-color: var(--color-tertiary);
  padding: 14px 28px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 100px;
  border: none;
}

/**** baggrund ****/

body {
  background-color: #f8efe0;
  background-image: url("/pics/baggrund_lang.png");
  background-repeat: repeat;
  background-size: 1200px;
}

/****************** Footer *********************/
@media (min-width: 880px) {
  /** Footer IMGer **/
  .LogoFooter {
    width: 30%;
  }

  .footerImg {
    display: block;
    width: 70%;
    position: relative;
    top: 70px;
  }

  footer {
    position: relative;
    overflow: hidden;
  }

  .blurFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 0;
    pointer-events: none;
  }
  /** Footer layout **/

  .underoverskrift {
    font-size: 25px;
  }

  .footerSek1 {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
  }

  .tagline {
    position: relative;
    display: inline-block;
    font-weight: 800;
    align-self: flex-start;
  }

  .tagline::after {
    content: "";
    position: absolute;
    left: 0px;
    right: -10px;
    bottom: -4px;
    height: 3px;
    background: #000;
  }

  .addBorder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 2px solid #000;
    padding-left: 100px;
    z-index: 100;
  }

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }

  footer {
    grid-column: 2;
  }
}

@media (max-width: 880px) {
  .footerImg {
    display: none;
  }

  .blurFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: 0;
    pointer-events: none;
  }

  .tagline {
    font-size: 13px;
    position: relative;
    display: inline-block;
    font-weight: 800;
    align-self: flex-start;
  }

  .tagline::after {
    content: "";
    position: absolute;
    left: 0px;
    right: -10px;
    bottom: -4px;
    height: 3px;
    background: #000;
  }

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.LogoFooter {
  width: 50%;
}

footer {
  position: relative;
  overflow: hidden;
}

/** Footer layout **/

.underoverskrift {
  font-size: 25px;
}

.footerSek1 {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.addBorder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 2px solid #000;
  padding-left: 10px;
  z-index: 100;
}

footer {
  grid-column: 2;
}
