.date {
  font-family: var(--font-h1);
  font-size: 150%;
  border-bottom: 2px solid #000;
}

.h1tagline {
  font-family: var(--font-h1);
  font-size: 150%;
}

.grid2 p {
  max-width: 520px;
}

ol {
  max-width: 800px;
}

ol li {
  margin-bottom: 10px;
}

.gaptop {
  display: block;
  width: 18%;
}

section {
  margin-bottom: 50px;
}
