.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 200px;
}

.menuTak {
  display: flex;
  justify-content: end;
  margin: 20px;
}

@media (min-width: 880px) {
  h1 {
    font-family: var(--font-h1);
    font-size: 113px;
  }

  p {
    font-size: 22px;
    font-family: var(--font-p);
  }

  .cta {
    font-family: var(--nav-font);
    font-size: 22px;
    color: var(--color-);
    background-color: var(--color-tertiary);
    padding: 14px 28px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
  }
}

/** Fra general css**/
* {
  text-decoration: none;
  box-sizing: border-box;
}

main,
footer {
  width: 100%;
}

h1 {
  font-family: var(--font-h1);
  font-size: 40px;
  padding: 0;
  margin: 0;
}

p {
  font-family: var(--font-p);
  font-size: 20px;
}

.cta {
  font-family: var(--nav-font);
  font-size: 14px;
  color: var(--color-);
  background-color: var(--color-tertiary);
  padding: 7px 14px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 10px;
}

/**** baggrund ****/

body {
  background-color: #f8efe0;
  background-image: url("/pics/baggrund_lang.png");
  background-repeat: repeat;
  background-size: 1200px;
}

/****************** Footer ****************/
@media (min-width: 880px) {
  /** Footer IMGer **/
  .LogoFooter {
    width: 30%;
  }

  .footerImg {
    display: block;
    width: 70%;
    position: relative;
    top: 70px;
  }

  footer {
    position: relative;
    overflow: hidden;
  }

  .blurFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 0;
    pointer-events: none;
  }
  /** Footer layout **/

  .underoverskrift {
    font-size: 25px;
  }

  .footerSek1 {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
  }

  .tagline {
    position: relative;
    display: inline-block;
    font-weight: 800;
    align-self: flex-start;
  }

  .tagline::after {
    content: "";
    position: absolute;
    left: 0px;
    right: -10px;
    bottom: -4px;
    height: 3px;
    background: #000;
  }

  .addBorder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 2px solid #000;
    padding-left: 100px;
    z-index: 100;
  }

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }

  footer {
    grid-column: 2;
  }
}

@media (max-width: 880px) {
  .footerImg {
    display: none;
  }

  .blurFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: 0;
    pointer-events: none;
  }

  .tagline {
    font-size: 13px;
    position: relative;
    display: inline-block;
    font-weight: 800;
    align-self: flex-start;
  }

  .tagline::after {
    content: "";
    position: absolute;
    left: 0px;
    right: -10px;
    bottom: -4px;
    height: 3px;
    background: #000;
  }

  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.LogoFooter {
  width: 50%;
}

footer {
  position: relative;
  overflow: hidden;
}

/** Footer layout **/

.underoverskrift {
  font-size: 25px;
}

.footerSek1 {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.addBorder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 2px solid #000;
  padding-left: 10px;
  z-index: 100;
}

.footertekst {
  font-size: 13px;
}

footer {
  grid-column: 2;
}
